socket_client/build/client
socket_client/build/cmake_install.cmake
socket_client/build/CMakeCache.txt
socket_client/build/Makefile
socket_client/build/CMakeFiles/cmake.check_cache
socket_client/build/CMakeFiles/CMakeDirectoryInformation.cmake
socket_client/build/CMakeFiles/CMakeOutput.log
socket_client/build/CMakeFiles/Makefile.cmake
socket_client/build/CMakeFiles/Makefile2
socket_client/build/CMakeFiles/progress.marks
socket_client/build/CMakeFiles/TargetDirectories.txt
socket_client/build/CMakeFiles/3.22.1/CMakeCCompiler.cmake
socket_client/build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
socket_client/build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
socket_client/build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
socket_client/build/CMakeFiles/3.22.1/CMakeSystem.cmake
socket_client/build/CMakeFiles/3.22.1/CompilerIdC/a.out
socket_client/build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
socket_client/build/CMakeFiles/3.22.1/CompilerIdCXX/a.out
socket_client/build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
socket_client/build/CMakeFiles/client.dir/build.make
socket_client/build/CMakeFiles/client.dir/cmake_clean.cmake
socket_client/build/CMakeFiles/client.dir/compiler_depend.make
socket_client/build/CMakeFiles/client.dir/compiler_depend.ts
socket_client/build/CMakeFiles/client.dir/depend.make
socket_client/build/CMakeFiles/client.dir/DependInfo.cmake
socket_client/build/CMakeFiles/client.dir/flags.make
socket_client/build/CMakeFiles/client.dir/link.txt
socket_client/build/CMakeFiles/client.dir/main.cpp.o
socket_client/build/CMakeFiles/client.dir/main.cpp.o.d
socket_client/build/CMakeFiles/client.dir/progress.make
socket_client/build/CMakeFiles/client.dir/socket_client.cpp.o
socket_client/build/CMakeFiles/client.dir/socket_client.cpp.o.d
socket_server/build/cmake_install.cmake
socket_server/build/CMakeCache.txt
socket_server/build/Makefile
socket_server/build/server
socket_server/build/CMakeFiles/cmake.check_cache
socket_server/build/CMakeFiles/CMakeDirectoryInformation.cmake
socket_server/build/CMakeFiles/CMakeOutput.log
socket_server/build/CMakeFiles/Makefile.cmake
socket_server/build/CMakeFiles/Makefile2
socket_server/build/CMakeFiles/progress.marks
socket_server/build/CMakeFiles/TargetDirectories.txt
socket_server/build/CMakeFiles/3.22.1/CMakeCCompiler.cmake
socket_server/build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
socket_server/build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
socket_server/build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
socket_server/build/CMakeFiles/3.22.1/CMakeSystem.cmake
socket_server/build/CMakeFiles/3.22.1/CompilerIdC/a.out
socket_server/build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
socket_server/build/CMakeFiles/3.22.1/CompilerIdCXX/a.out
socket_server/build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
socket_server/build/CMakeFiles/server.dir/build.make
socket_server/build/CMakeFiles/server.dir/cmake_clean.cmake
socket_server/build/CMakeFiles/server.dir/compiler_depend.make
socket_server/build/CMakeFiles/server.dir/compiler_depend.ts
socket_server/build/CMakeFiles/server.dir/depend.make
socket_server/build/CMakeFiles/server.dir/DependInfo.cmake
socket_server/build/CMakeFiles/server.dir/flags.make
socket_server/build/CMakeFiles/server.dir/link.txt
socket_server/build/CMakeFiles/server.dir/main.cpp.o
socket_server/build/CMakeFiles/server.dir/main.cpp.o.d
socket_server/build/CMakeFiles/server.dir/progress.make
socket_server/build/CMakeFiles/server.dir/socket_server.cpp.o
socket_server/build/CMakeFiles/server.dir/socket_server.cpp.o.d
